
.assign-1 {
    background-color: white;
    width: 800px;
    position: relative;
    height: 300px;
}

.green {
    background-color: green;
    border-color: black;
    width: 100px;
    height: 100px;
    padding: 10px;
    text-align: center;
    z-index: 3;
    left: 30px;
    top: 30px;
    position: absolute;

}

.red {
    background-color: red;
    border-color: black;
    width: 100px;
    height: 100px;
    padding: 10px;
    text-align: center;
    z-index: 3;
    position: absolute;
    left: 40px;
    top: 40px;
}

.blue {
    border-color: black;
    background-color: blue;
    width: 100px;
    height: 100px;
    padding: 10px;
    text-align: center;
    z-index: 1;
    top: 20px;
    left: 20px;
    position: absolute;
}

.black {
    border-color: black;
    background-color: black;
    width: 100px;
    height: 100px;
    padding: 10px;
    text-align: center;
    z-index: 0;
    position: absolute;
    left: 20px;
    top: 30px;
}
.assign-2{
  width: 400px;
  background-color: rgb(236, 223, 223);
  border-top:  4px solid red;
  border-right:4px solid blue ;
  border-bottom:  4px solid red;
  border-left:4px solid blue;
  position: relative;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  margin-left:400px;
  justify-content: center;
}
.top-left{
  position: absolute;
  border-right: 4px solid red;
  background-color: blue;
  color: white;
  width: 20px;
   top:0;
   left:0;
   margin: -11px;
  
 
}
.bottom-left{
    position: absolute;
    border-right: 4px solid red;
    background-color: blue;
    color: white;
    width: 20px;
    bottom: 0;
    left:0;
    margin: -11px;
  }
  
.top-right{
    position: absolute;
    border-left: 4px solid red;
    background-color: blue;
    color: white;
    width: 20px;
    top:0;
    right:0;
    z-index:0;
    margin: -11px;
  }
  .bottom-right{
    position: absolute;
    border-left: 4px solid red;
    background-color: blue;
    color: white;
    width: 20px;
    bottom: 0;
    right:0;
    z-index:0;
    margin: -11px;
  }
  hr{
    width: 100%;
    border: 5px solid rgb(7, 8, 7);
    border-radius: 5px;
    margin-bottom:100px ;
    margin-top:100px ;
  }
  .assign-3{
    width: 400px;
    background-color: white;
    border: 2px solid black;
    position: relative;
    font-size: 20px;
    padding: 5px;
    margin-left:400px;
    justify-content: center;
  }
.one{
   margin-left: 15px;
   margin-right: 15px;
   margin-top: 15px;
   margin-bottom: 15px;
   padding:5px 5px 5px 5px;
   width:370px;
   background-color: rgb(206, 197, 197);
   list-style: none;
   /* padding-left: 5px; */
 }
.li-1{
  background-color: white;
  margin:10px 10px 10px 10px;
  padding:5px 5px 5px 5px;
}
.li-2{
  background-color: white;
  margin:10px 10px 10px 10px;
  padding:5px 5px 5px 5px;

}
.ol-2{
  list-style-type:upper-roman;
}
.ol-3{
  list-style-position: inside;
}

.li-3{
  background-color: white;
  margin:10px 10px 10px 10px;
  padding:5px 5px 5px 5px;
}
th{
  padding-top: 5px;
  background-color: rgb(38, 31, 31);
  color: white;
  height: 50px;

}
td{
  height: 100px;
  background-color: rgb(229, 229, 229);
  padding:6px 6px 6px 6px;
  margin:10px 6px 6px 10px;
}

table, td, th {
  border: 2px solid white;
  text-transform: capitalize ;
  word-spacing: 3px;
  text-align: center;
  
}

table {
    width: 700px;
    height: auto;
    border-collapse: collapse;
    position: relative;
    font-size: 25px;
    padding: 10px;
    margin-left:250px;
    justify-content: center;
   
}

.show{
  background-color: rgb(55, 199, 209);
  color: white;
  font-weight: bold;
  border: 1px solid rgb(55, 199, 209) ;
  margin: 4px 2px 4px 2px;
  padding: 4px 10px 4px 10px;
  display: inline-block;
  
}
.show-1{
  display: inline-block;
  background-color: rgb(204, 67, 115);
  color: white;
  font-weight: bold;
  border: 1px solid rgb(237, 90, 141) ;
  margin: 4px 2px 4px 2px;
  padding: 4px 10px 4px 10px;
}
img{
  width:80px;
}
/* ......................................................................................... */

.assign-5{
  border:1px solid black;
  width: 600px;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}
.assign-5-2{
   width: 400px;
   height: 60px;
   background-color: rgb(223, 222, 222);
   margin-left: 100px;
   margin-right: 100px;
   margin-top: 10px;
   margin-bottom: 10px;
   font-size: 30px;
   padding-top: 30px;
   text-align: center;
}
.assign-5-1{
  width: 400px;
  height: 60px;
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 10px;
  background-color: rgb(225, 29, 29);
  font-size: 30px;
  padding-top: 30px;
  text-align: center;
}
.assign-6{
  border:1px solid black;
  width: 600px;
  /* text-align: center; */
  font-size: 25px;
  font-weight: 200px;
  margin-left: 25%;
  margin-right: 25%;
  padding: 3px  5px  5px  3px;
  background-color: rgb(212, 212, 212);
  position: relative;
}
.assign-6::first-letter{
 display: inline-block;
 background-color: red;
 color: white;
 font-size: 25px;
 font-weight: bold;
 margin-left: -20px;
 padding: 20px 10px 20px 10px ;
}

.assign-7{
 border:1px solid black;
 width: 900px; 
 /* text-align: center;  */
 font-size: 25px;
 font-weight: 200px;
 margin-left: 25%;
 margin-right: 25%;
 overflow: hidden;
 padding: 10px 10px 10px 10px;

}
.one-1{
 margin: 10px 5px 10px 100px;
 padding: 10px 10px 10px 10px;
 background-color: rgb(212, 212, 212);
 border-left: 5px solid   rgb(129, 11, 11);
 position: relative;
 height: 30px;

}
.one-1::before {
 content:attr(data-person);
 position: absolute;
 width: 0;
 height: 0; 
 left:-19px;
 top: 10px;
 border-top: 15px solid transparent;
border-right:15px solid rgb(129, 11, 11);
border-bottom: 15px solid transparent;
}
.two{
 margin: 10px 5px 10px 100px;
 padding: 10px 10px 10px 10px;
 background-color: rgb(212, 212, 212);
 border-left: 5px solid   rgb(129, 11, 11);
 position: relative;
 height: 30px;


}
.two::before {
 content:attr(data-person);
 position: absolute;
 width: 0;
 height: 0; 
 left:-19px;
 top: 10px;
 border-top: 15px solid transparent;
border-right:15px solid rgb(129, 11, 11);
border-bottom: 15px solid transparent;
}
.three{
 margin: 10px 5px 10px 100px;
 padding: 10px 10px 10px 10px;
 background-color: rgb(212, 212, 212);
 border-left: 5px solid   rgb(129, 11, 11);
 position: relative;
 height: 30px;

}
.three::before {
 content:attr(data-person);
 position: absolute;
 width: 0;
 height: 0; 
 left:-19px;
 top: 10px;
 border-top: 15px solid transparent;
border-right:15px solid rgb(129, 11, 11);
border-bottom: 15px solid transparent;
 
}
.assign-7-1{
 margin: 10px 5px 10px 100px;
 padding: 10px 20px 10px 40px;
 background-color: rgb(212, 212, 212);
 position: relative;
 height: 30px;
 width: 700px;
 float: left;
 counter-increment: members-counter;
}

.assign-7-1::before{
content: counter(members-counter);
position: absolute;
background-color: red;
color: white;
height: 45px;
width: 35px;
text-align: center;
font-weight: bold;
padding-top: 5px;
left: 0;
top:0;
}
.assign-7-1::after{
    content: "";
    position: absolute;
    width: 8px;
    height: 100%;
    right: 0px;
    top: 0;
    background-color: red;
  
}
.assign-8{
    position: relative;
    border:1px solid black;
    width: 900px; 
    height: 500px;
    text-align: center; 
    font-size: 25px;
    font-weight: 200px;
    margin-left: 25%;
    margin-right: 25%;
    overflow: hidden;
    padding: 10px 10px 10px 10px;
}
.assign-8-1{
  position: absolute;
  counter-increment: shaps-counter;
  width: 150px;
  height: 150px;
  background-color: red;
  margin: 40px 40px 40px 100px;
  border-radius: 50%;
  background-color: rgb(230, 228, 228);
  border: 5px solid black;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow:
    5px 5px rgb(51, 180, 219),
    -7px -7px 1px  rgb(210, 53, 100);
}
.assign-8-1::before{
  content: counter(shaps-counter);
  position: absolute;
  background-color: rgb(6, 6, 6);
  color: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  font-weight: bold;
  padding-top: 5px;
  left: 52px;
  top:-19px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.assign-8-2{
  display: inline-block;
  position: absolute;
  counter-increment: shaps-counter;
  width: 150px;
  height: 150px;
  background-color: red;
  margin:40px  40px 40px -50px;
  border-radius: 50%;
  background-color: rgb(230, 228, 228);
  border: 5px solid black;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow:
    5px 5px rgb(51, 180, 219),
    -7px -7px 1px  rgb(210, 53, 100);

}
.assign-8-2::before{
  content: counter(shaps-counter);
  position: absolute;
  background-color: rgb(6, 6, 6);
  color: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  font-weight: bold;
  padding-top: 5px;
  left: 52px;
  top:-19px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.assign-8 .rap{
  display: inline-block;
  text-align: center;
  padding: 100px 50px 100px 50px;
  margin: -30px 10px 20px -10px;
  text-transform: capitalize;
}
.assign-8-3{
  display: inline-block;
  position: absolute;
  counter-increment: shaps-counter;
  width: 150px;
  height: 150px;
  background-color: red;
  margin:50px 20px 60px 200px;
  border-radius: 50%;
  background-color: rgb(230, 228, 228);
  border: 5px solid black;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow:
  5px 5px rgb(51, 180, 219),
  -7px -7px 1px  rgb(210, 53, 100);
}
.assign-8-3::before{
  content: counter(shaps-counter);
  position: absolute;
  background-color: rgb(6, 6, 6);
  color: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  font-weight: bold;
  padding-top: 5px;
  left: 52px;
  top:-19px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.assign-9{
   margin-left: 50%;
   margin-right: 250px;
   background-color: rgb(213, 213, 213);
   width: 100px;
   height: 100px;
   border-radius: 15px 50px;
   box-shadow: 0px 0px 25px rgb(43, 42, 42) inset;
   -webkit-border-radius: 15px 50px;
   -moz-border-radius: 15px 50px;
   -ms-border-radius: 15px 50px;
   -o-border-radius: 15px 50px;
}
.assign-10{
  position: relative;
  width:600px;
  height: 500px;
  font-weight: bold;
  background-color: rgb(255, 253, 253);
  margin-left: 25%;
  padding: 10px 10px 10px 10px;
  font-size: 30px;
  color: white;
  border: 2px solid black;
}
.assign-10-1{
  display: inline-block;
  width: 250px;
  height: 480px;
  margin: 10px 50px 10px 10px;
  background-color: rgb(201, 200, 200);
  position: absolute;
}
.assign-10-2{
  display: inline-block;
  width: 250px;
  height: 480px;
  margin:10px 20px 60px 330px;
  background-color: rgb(201, 200, 200);
  position: absolute;
 
}
.vl{
  display:inline-block;
  height: 500px;
  width: 3px;
  background-color: rgb(69, 178, 197);
  position: relative;
  left: 300px;
  margin-left: -5px;
  top: 0px;
  margin-top: 0px;
} 
.v1::before{
  content: "";
  width: 20px;
  height: 200px;
  border-radius: 50%;
  background-color:  rgb(69, 178, 197);
  margin:50%;
  top:0px;
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.try-1{
  width:200px;
  padding: 10px 10px 10px 10px;
  margin: 40px 15px;
  border-radius: 2px 3px 5px 3px;
  text-transform: capitalize;
  text-align: center;
  background-color:   rgb(69, 178, 197);
  -webkit-border-radius: 2px 3px 5px 3px;
  -moz-border-radius: 2px 3px 5px 3px;
  -ms-border-radius: 2px 3px 5px 3px;
  -o-border-radius: 2px 3px 5px 3px;
}
.try-3{
  width:200px;
  padding: 10px 10px 10px 10px;
  margin: 40px 15px;
  border-radius: 2px 3px 5px 3px;
  text-transform: capitalize;
  text-align: center;
  background-color:   rgb(69, 178, 197);
  -webkit-border-radius: 2px 3px 5px 3px;
  -moz-border-radius: 2px 3px 5px 3px;
  -ms-border-radius: 2px 3px 5px 3px;
  -o-border-radius: 2px 3px 5px 3px;
}
.try-2{
    margin-left: 5px;
    text-align: center;
    margin-top: 80px;
    text-transform: capitalize;
}
.try{
  display: inline-block;
  background-color: rgb(170, 170, 170);
  width:200px;
  height: 200px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
 background-color: rgb(170, 170, 170);
  margin-left: 20px;
}
.try-4{
  display: inline-block;
  background-color:  rgb(69, 178, 197);
  width:40px;
  height: 40px;
  padding:10px;
  text-align: center;
  border-radius: 50%;
  margin-top: 240px;
  margin-left: -30px;
}
.assign-12{
   width: 400px;
   height: 200px;
   margin-left:25%;
   margin-right: 25%;
   margin-top: -10px;
   margin-bottom: 100px;
   padding: 10px;
   background-color: rgb(248, 248, 247);
   border: 2px solid black;
   text-align: center;
   text-transform: capitalize;
   font-size: 25px;
   transition:aLL 0.5s ;
   -webkit-transition:aLL 0.5s ;
   -moz-transition:aLL 0.5s ;
   -ms-transition:aLL 0.5s ;
   -o-transition:aLL 0.5s ;
}
.assign-12-1{
  margin: 20px 10px 20px 10px;
  padding: 5px 5px 5px 5px;
  background-color: rgb(230, 230, 230);
  transition: all 0.5s ;
}
.assign-12:hover{
  width: 400px;
  height: 200px;
  margin-top: 200px;
}
.assign-12-1:hover{
  margin-top: 100px;
}

.assign-13-1{
  visibility: hidden;
  background-color: rgb(238, 233, 233);
  color: black;
  border: 2px solid rgb(139, 139, 139);
  font-size: 25px;
  text-align: center;
  width: 400px;
  text-transform: capitalize;
  padding: 10px 10px 10px 10px;
  margin-left: 25%;
  margin-right: 25%;


}
.assign-13-2{
  background-color: rgb(238, 233, 233);
  color: black;
  border: 2px solid rgb(139, 139, 139);
  font-size: 25px;
  text-align: center;
  width: 400px;
  text-transform: capitalize;
  padding: 10px 10px 10px 10px;
  margin-left: 25%;
  margin-right: 25%;
}
:root {
  --mainColor: #009688;
  --mainPadding: 10px  ;

}


.assign-14{
    width: 400px;
    height:300px;
    margin-left: 25%;
    text-transform: capitalize;
    padding: var(--mainPadding ,10px)   ;
    color: var(--mainColor,red);
}

.assign-14-1{
  width: 380px;
  height:calc(260/3);
  text-transform: capitalize;
  padding: var(--mainPadding,10px);
  border: 2px solid var(--mainColor,black) ;
  color: var(--mainColor,red);
  /* position: absolute; */
  float: left;
  margin:10px;
  margin-left: 10px;
  margin-right: 10px;
}
.assign-15{
   width:500px;
   display: flex;
   background-color: black;
   margin: 20px auto;
   height: 400px;
   direction: row;
   flex-wrap: wrap;
}
.assign-15-1{
  width: 100px;
  height: 100px;
  color: rgb(234, 135, 13);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: white;
  align-self: center;
  line-height: 100px;
  text-align: center;
  margin-left:40%;
  font-size: 30px;
  font-weight: bold;
  box-shadow:
  -5px 0   1px rgb(51, 180, 219),
   5px  0   1px rgb(222, 98, 10);
}
.assign-16
{
  width: 600px;
  height: 300px;
  font-size: 30px;
  display: flex;
  font-weight: bold;
  margin-left: 25%;
  justify-content: center;
  background-color: #dce9e7;
  color: white;
  padding: 10px;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  text-align: center;
  align-content: space-between;
 
}
.assign-16-1{
  background-color: red;
  width:calc(96% /3);
  height:50px;

}
.assign-17
{
  width: 600px;
  height: 300px;
  font-size: 30px;
  display: flex;
  font-weight: bold;
  margin-left: 25%;
  justify-content: center;
  background-color: #dce9e7;
  color: white;
  padding: 10px 10px 10px 10px;
  flex-wrap: wrap;
  align-items: flex-start;
  /* justify-content: space-around; */
  text-align: center;
  flex-direction: column;
  align-content: space-around;
 line-height: 100px;
}
.assign-17-1{
  background-color: red;
  width:calc(96%/3);
   order: 6;
  flex-basis: 10px;
  margin-top: 40px;
  /* align-self: flex-end; */
}
.assign-17-2{
  background-color: red;
  width:calc(96%/3);
  flex-basis: 140px;
  order:4;
}
.assign-17-3{
  background-color: red;
  width:calc(96%/3);
   order:3;
   flex-basis: 0px;
   margin-bottom: 40px;

}
.assign-17-4{
  background-color: red;
  width:calc(96%/3);
  flex-basis: 140px;
  order:5;
 
}
.assign-17-5{
  background-color: red;
  width:calc(96%/3);
  flex-basis:140px;
  order:2;
}
.assign-17-6{
  background-color: red;
  width:calc(96%/3);
  flex-basis: 140px;
  order:1;
 
}
.assign-18{
  width: 600px;
  height: 300px;
  font-size: 30px;
  line-height: 100px;
  display: flex;
  font-weight: bold;
  margin-left: 25%;
  justify-content: center;
  background-color: #dce9e7;
  color: white;
  padding: 10px;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
  text-align: center;
  align-content: space-between;  
  flex-direction: column;

}
.assign-18-1{
  background-color:#009688;
  width:50px;
  flex-basis: 100px;
  align-self: flex-end;
 
}
.assign-18-2{
  background-color:#009688;
  width:300px;
  flex-basis: 100px;
  align-self:flex-start;
}
.assign-18-3{
  background-color:#009688;
  width:50px;
  flex-basis: 100px;
  align-self: flex-end;
 
}
.assign-19{
  width: 600px;
  height: 300px;
  font-size: 30px;
  line-height: 100px;
  display: flex;
  font-weight: bold;
  margin-left: 25%;
  justify-content: center;
  background-color: #dce9e7;
  color: white;
  padding: 10px;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
  text-align: center;
  align-content: space-between;  
  flex-direction: row;
}

.assign-19-1{
  background-color:rgb(237, 156, 7);
  width:200px;
  flex-basis: 100px;
  align-self: flex-start;
  order:2;
}
.assign-19-2{
  background-color:rgb(0, 123, 82);
  width:200px;
  flex-basis: 100px;
  align-self:flex-end;
  order:3;
}
.assign-19-3{
  background-color:rgb(112, 39, 39);
  width:200px;
  flex-basis: 100px;
  align-self: flex-start;
  order:4;
}
.assign-19-4{
  background-color:rgb(129, 25, 129);
  width:200px;
  flex-basis: 100px;
  align-self: flex-end;
  order:1;
}

.page .footer {
    width: 100%;
    background-color: black;
    color:white;
    display: flex;
}
.page .footer .design{
  background-color: black;
  height: 40px;
  color:white;
 align-self: flex-end;
 margin-left: 800px;
}
.page .header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: black;
}
.page .main-area {
  /* width: 600px;
  height: 300px; */
  font-size: 30px;
  line-height: 100px;
  display: flex;
  font-weight: bold;
  justify-content: center;
  background-color: rgb(179, 179, 179);
  color: white;
  padding: 10px;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between; 
  align-content: space-between;   
  flex-direction: column;
}
.page .main-area .content{
  width:calc(100% /2);
  background-color: rgb(179, 179, 179);
  align-self: flex-start;
 
}
.page .main-area .sidebar{
  align-self: flex-end;
  color:white;
  background-color:rgb(179, 179, 179);
  width:calc(100% /2);

}
.page{
    width: 100%;  
    padding: 50px 40px 50px 20px;
    background: white;
}


.page .header .logo{
  display: flex;
  align-self: flex-start;  
  color: #fff;
  padding: 10px; 
}
.page .header ul {
  display: flex;
  align-items: center;  
  list-style: none outside ;
}
.page .header ul li {
  color: #fff;
  padding: 10px;
}
.page .header .links :hover {
    color: #ffffff;
    font-size: 15px;
    background-color: rgb(112, 109, 109);
    border-radius:25px;
    padding: 5px;
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    -ms-border-radius:25px;
    -o-border-radius:25px;
}


